<div id="featured-movies" class="clearfix">
	<div class="col-lg-4">
		<img src="http://d1r5i20o8cadcu.cloudfront.net/designs/images/118050/original/gravity-alt-poster-doaly-small.jpg" class="img-responsive"/>
	</div>
	<div class="col-lg-4">
		<img src="http://www.disneymovieslist.com/blog/wp-content/uploads/2013/04/thor-2-the-dark-world-poster.jpg" class="img-responsive"/>
	</div>
	<div class="col-lg-4">
		<img src="http://www.darkhorizons.com/assets/0019/2572/p-carrie.jpg" class="img-responsive"/>
	</div>
	<!-- <div class="col-md-3">
		<img src="http://placehold.it/330x340" class="img-responsive" />
	</div> -->
</div>